@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
 :root {
  --background: #ffffff;
  --foreground: 0 0 0;

  --ecommerce-orange: 26 100% 55%;
  --ecommerce-pale-orange: 25 100% 94%;

  --very-dark-blue: 220 13% 13%;
  --dark-grayish-blue: 219 9% 45%;
  --grayish-blue: 220 14% 75%;
  --light-grayish-blue: 223 64% 98%;
 }
}

body {
 color: hsl(var(--foreground));
 background: var(--background);
 font-family: Kumbh Sans, sans-serif;
}
